[Unit]
Description=Create LiveCD User
After=network.target local-fs.target
Before=login.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/create-livecd-user.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
